 .navigationbar{
  background-color:blueviolet;
  height: 60px;
  width: 1360px;
  display: flex;
  justify-content: space-around;
  align-items:center;
}


.nav-items{
  height: 100%;
  margin-right: 20px;
}


.nav-items ul{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  list-style: none;

}


.nav-link{
  text-decoration: none;
  color: #f1f5f9;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(16, 185, 129, 0.6);
}